main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the carousel horizontally */
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.Hero img {
  max-width: 100%;
  margin-bottom: 20px;
  height: auto;
}

/*** FOOTER STYLING ***/
/* Footer Styles */
footer {
  background-color: #409118;
  color: #fff;
  padding: 40px 0;
}

footer h5 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  footer h5 {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
  }
}


/* Style for the container of the password strength */
.password-strength-container {
  margin-top: 10px;
}

/* Default styling for the strength bar */
.strength-bar {
  height: 8px;
  width: 100%;
  background-color: #e0e0e0; /* Background for weak password */
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

/* Different strength colors and widths */
.strength-bar.weak {
  width: 33%;
  background-color: #ff4d4d; /* Red for weak password */
}

.strength-bar.medium {
  width: 66%;
  background-color: #ffcc00; /* Yellow for medium password */
}

.strength-bar.strong {
  width: 100%;
  background-color: #4caf50; /* Green for strong password */
}

/* Add subtle pulsing animation to the strength bar */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

/* Apply pulsing effect to the strength bar */
.strength-bar::before {
  content: "";
  display: block;
  height: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  animation: pulse 1s infinite alternate;
}

/* Style for the strength text */
p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #6c757d;
}
